<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web development final project - Henry Holben</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <style>
        body {
    background-color: grey;
    
}
H1 {
    color: lightblue;
    position: relative;
    left: 40%;
   
}

#title {
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: gray;
}

#textbookInput {
    position: relative;
}

#info {
    color: white;
}
    </style>

</head>
<body>
    <div id="title"> 
        <H1>Textbook Wizard</H1>
    </div>

    <div id="info">
        <p>
            Welcome to Textbook Wizard! Here you will be able to find
            where to buy the cheapest textbook that you are looking for and update your database with textbooks and reviews!.
            In the text field below input the name of the textbook that you are looking for.
        </p>
    </div>
    <div id="textbookInput">
        <label>Name of textbook:</label><br>
        <input type="text" id="textbookName">
        <button type ="button" id="textbookNameSubmit">Search</button>
        <!-- <form id="info">
            Name of textbook:<br> <input type="text" name="textbookName" id="input">
            
            <input type="submit" value="Find Textbooks" id="TextbookFinderButton">
         </form> -->
    </div>

    <script>
document.getElementById("textbookNameSubmit").onclick = function(){
    var textbook = document.getElementById("textbookName").value;
    document.getElementById("AmazonLink").href=("https://www.amazon.com/s?k=" + textbook);
    document.getElementById("abeBooksLink").href=("https://www.abebooks.com/servlet/SearchResults?kn=" + textbook);
    document.getElementById("barnesAndNobleLink").href=("https://www.barnesandnoble.com/s/" + textbook);
    document.getElementById("bigWordsLink").href=("https://www.bigwords.com/search?tab=get&pageNumber=1&searchType=Books&keywords=" + textbook + "&isbn=&author=&publisher=");
    document.getElementById("booksRunLink").href=("https://booksrun.com/search/" + textbook);
    document.getElementById("campusBooksLink").href=("https://www.campusbooks.com/books/search?keywords=" + textbook);
    document.getElementById("cheapestTextbooksLink").href=("https://www.cheapesttextbooks.com/IM/?keyval=" + textbook);
    document.getElementById("cheggLink").href=("https://www.chegg.com/search?q=" + textbook + "&trackid=ad90db16b2d8&strackid=960d7c13ba81&contentType=textbooks");
    document.getElementById("ecampusLink").href=("https://www.ecampus.com/search-results?terms=" + textbook);
    }
    </script>

    <div>
        <p id="info"> Here are some possible websites</p>
        <a href="https://www.abebooks.com/" id="abeBooksLink">Abe Books</a>
         <br>
         <a href="https://www.amazon.com/" id="AmazonLink">Amazon</a>
         <br>
         <a href="https://www.barnesandnoble.com/" id="barnesAndNobleLink">Barnes and Noble</a>
         <br>
         <a href="https://www.bigwords.com/" id="bigWordsLink">Big Words</a>
         <br>
         <a href="https://booksrun.com/" id="booksRunLink">Books Run</a>
         <br>
         <a href="https://www.campusbooks.com/" id="campusBooksLink">Campus Books</a>
         <br>
         <a href="https://www.cheapesttextbooks.com/" id="cheapestTextbooksLink">Cheapest Textbooks</a>
         <br>
         <a href="https://www.chegg.com/books" id="cheggLink">Chegg</a>
         <br>
         <a href="https://www.ecampus.com/" id="ecampusLink">E Campus</a>
         <br>
    </div>
    <br>
    <br>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/">All textbooks</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Textbook</h2>
                <span class="text-light">Use the below to form to update a textbook</span>
            </div>
            <form method="POST" id="update_textbook">
                <div class="new_textbook">
                    <div class="form-group">
                        <label for="textbook" class="text-light">Textbook</label>
                        <input type="hidden" name="id" value="<%= textbook._id %>">
                        <input type="text" name="textbook" value="<%= textbook.textbook %>" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="website" class="text-light">Website</label>
                        <input type="text" name="place" value="<%= textbook.place %>" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="websitereview" class="text-light">Website Review</label>
                        <input type="text" name="placereview" value="<%= textbook.placereview %>" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="textbookreview" class="text-light">Texbook Review</label>
                        <input type="text" name="textbookreview" value="<%= textbook.textbookreview %>" placeholder="">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $("#update_textbook").submit(function(event){
        event.preventDefault();

        var unindexed_array = $("#update_textbook").serializeArray();

        var data = {}

        $.map(unindexed_array,function(n,i){
            data[n['name']] = n['value']
        })

        console.log(data);

        var request = {
            "url" : ('http://localhost:3000/api/textbooks/' + data.id),
            "method" : "PUT",
            "data" : data
        }

        $.ajax(request).done(function(response){
            alert("Data Updated Successfully!")
        })

        })
    </script>
    </main>

</body>
</html>